/*Código armado por La Foca Loca S.A. No modificar*/
*{
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/moana\ background.jpg);
  background-size: cover;
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #01e7cd;
}

.col-40 h1 {
  font-size: 20px;
  color: #01e7cd;
  text-align: center;
  margin-top: 44px;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}
.col-40 img {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-60 {
  background: #fad76d;

}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#titulo {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.8em;
  background-color:  #01e7cd;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

#juego {
  width: 600px;
  height: 620px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
  width: 199.98px;
}

.pieza img {
  width: 100%;
  height: 100%;
  border: 0.5px solid aqua;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
